<!DOCTYPE html>
<html>
    <head>
    <title>Crud de mongoDb</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <!-- Bootswatch styles -->
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <!-- /Bootswatch styles -->
  </head>